.cover {
    position: relative;
    height: 100vh;
  }
  
  .cover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(39, 79, 165, 0.541) 0%, rgba(0, 0, 0, 0.404) 100%), url('../images/udfcover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }